@import "menu_padding_compact.css"; 
 
 /*= Menu - Reduce Padding ==================================================*/
  :root {
    --menu-padding: 0.35em;
  }
  :root[uidensity=compact] {
    --menu-padding: 0.25em;
  }
  :root[uidensity=touch] {
    --menu-padding: 0.5em;
  }
  menupopup > menuitem, menupopup > menu {
    /* Original: 0.5em */
    padding-block: var(--menu-padding) !important;
  }

  @supports not -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
    :root:not([uidensity=touch]) .menu-text, .menu-iconic-text {
      padding-inline-end: 0 !important; /* Original: 2px */
    }
    :root:not([uidensity=touch]) .menupopup-arrowscrollbox {
      padding-block: 1px !important;    /* Original: 4px*/
    }
    :root:not([uidensity=touch]) #context-navigation:not([hidden]) {
      padding: 0 0 1px !important;      /* Original: 0 0 4px*/
    }
    :root:not([uidensity=touch]) .menu-right {
      margin-right: 6px !important;     /* Original: 12px */
    }
  }

  /*= Poup Panel - Reduce padding ============================================*/
  #protections-popup-main-header-label {
    height: unset !important; /* Original: 37.6px */
  }

  #identity-popup,
  #permission-popup,
  #protections-popup {
    --vertical-section-padding: 0.8em; /* Original: 0.9em */
  }

  .protections-popup-footer-button,
  .protections-popup-category {
    min-height: 24px; /* Original: 32px */
    height: unset !important;
  }

  /** Popup panel - Compact mode  */
  /* Footer Button Height */
  :root[uidensity=compact] .panel-footer.panel-footer-menulike > button {
    padding: 3px 8px !important;
  }
  /* Footer Button Height */
  :root[uidensity=compact] #protections-popup-trackersView-settings-button {
    margin: 4px 8px 0 !important;
  }
  /* not cut off for Protection popup Footer on windows */
  :root[uidensity=compact] #protections-popup-multiView #protections-popup-footer {
    padding: 3px 0 20px !important;
  }
  /* Button and disabed category in Protection popup */
  :root[uidensity=compact] #protections-popup-multiView .protections-popup-footer-button,
  :root[uidensity=compact] #protections-popup-multiView .protections-popup-category {
    height: 20px !important;
    min-height: 20px !important;
  }
  /* Footer Button in Tracking Content Panel */
  :root[uidensity=compact] #protections-popup-multiView .panel-footer.panel-footer-menulike {
    margin: 0 0 3px !important;
  }
  /* Identity popup header padding */
  :root[uidensity=compact] #identity-popup-multiView #identity-popup-mainView-panel-header {
    padding: 2px 5px !important;
  }
  /* Text When There is no trackers */
  :root[uidensity=compact] #protections-popup-no-trackers-found-description {
    margin: 2em 4em !important;
  }
  /* Download Item margin */
  :root[uidensity=compact] #downloadsListBox {
    margin: 0 !important;
  }