/* GENERAL VARIABLES ****************************************************************************/
/* [!] set global variables for font and tab size options and more inside target file ***********/
@import url(./config/general_variables.css); /**/

/* COLOR VARIABLES FOR DEFAULT BROWSER THEME ONLY - MAIN UI - only use one at a time ************/
/* [!] set own colors for tabs & toolbars inside 'color_variables.css' or use available presets */
@import url(./config/color_variables.css); /**/  /* <- default 'grey' colors */

/************************************************************************************************/
/* TOOLBAR BUTTONS ******************************************************************************/
/************************************************************************************************/

/* bookmarks toolbar - buttons appearance - only use one at a time ******************************/
/* old bookmarks toolbar button appearance ******************************************************/
@import url(./css/buttons/buttons_on_bookmarks_toolbar_old_size_and_appearance.css); /**/

/* bookmarks menu button - 'button & popup' appearance ******************************************/
@import url(./css/buttons/bookmarks_menu_button_localized_label_on_bookmarks_toolbar.css); /**/

/* popup appearance *****************************************************************************/
@import url(./css/buttons/bookmarks_menu_button_popup_classic_appearance.css); /**/

/************************************************************************************************/
/* APPLICATION/HAMBURGER BUTTON *****************************************************************/
/************************************************************************************************/

/* application/hamburger button popup ***********************************************************/
@import url(./css/buttons/appbutton_popup_icons_colorized.css); /**/
@import url(./css/buttons/appbutton_popup_sync_hidden.css); /**/

/************************************************************************************************/
/* TABS - appearance and position ***************************************************************/
/************************************************************************************************/

/* restore empty/missing tab favicon - only use one at a time ***********************************/
@import url(./css/tabs/missing_tab_favicon_restored_globe_v2.css); /**/

/* tab close icon settings - only use one at a time *********************************************/
@import url(./css/tabs/tab_close_always_visible.css); /**/

/* other tab settings ***************************************************************************/
@import url(./css/tabs/tab_icon_colors.css); /**/

/************************************************************************************************/
/* GENERAL UI ***********************************************************************************/
/************************************************************************************************/

@import url(./css/generalui/private_mode_indicator_hidden.css); /**/
@import url(./css/generalui/bookmark_icons_colorized.css); /**/
@import url(./css/generalui/popup_animation_fade_time_reduced.css); /**/

/* findbar **************************************************************************************/
@import url(./css/generalui/findbar_on_top.css); /**/

/* menuitem labels - only use one at a time *****************************************************/
@import url(./css/generalui/context_bfrsb_labels_without_icons.css); /**/

/* SEARCHBAR ************************************************************************************/
@import url(./css/generalui/searchbar_glassplus_indicator_hidden.css); /**/

/************************************************************************************************/
/* TOOLBARS *************************************************************************************/
/************************************************************************************************/
 
/* GENERAL TOOLBAR SETTINGS *********************************************************************/
@import url(./css/toolbars/toolbars_old_padding.css); /**/
@import url(./css/toolbars/tabs_toolbar_adjustments.css); /**/

/* BOOKMARKS TOOLBAR ****************************************************************************/
@import url(./css/toolbars/bookmarks_toolbar_old_height.css); /**/

/* TOOLBAR COLORS *******************************************************************************/
@import url(./css/toolbars/general_toolbar_colors.css); /**/

/************************************************************************************************/
/* LOCATION BAR *********************************************************************************/
/************************************************************************************************/

/* general location bar tweaks ******************************************************************/
@import url(./css/locationbar/locationbar_adjustments.css); /**/
@import url(./css/locationbar/compact_mode_reduce_fontsize.css); /**/
@import url(./css/locationbar/identitybox_labels_hidden.css); /**/

/* additional icons/buttons and tweaks for third party page action buttons **********************/
@import url(./css/locationbar/icons_colorized.css); /**/

/* page action button (three dots) / separator **************************************************/
@import url(./css/locationbar/pageaction_separator_in_location_bar_hidden.css); /**/
@import url(./css/locationbar/pageaction_button_in_location_bar_hidden.css); /**/

/* star button **********************************************************************************/
@import url(./css/locationbar/starbutton_is_last_pageaction_button.css); /**/

/************************************************************************************************/
/* LOCATION BAR - 'autocomplete popup' appearance ***********************************************/
/************************************************************************************************/

/* custom amount of result items: about:config > browser.urlbar.maxRichResults ******************/
@import url(./css/locationbar/ac_popup_custom_height.css); /**/

/* hide 'Search with...' and 'Visit...' results *************************************************/
@import url(./css/locationbar/ac_popup_searchwith_and_visit_items_hidden.css); /**/  /* <--- EXPERIMENTAL */

/************************************************************************************************/

/* TITLE BAR BACKGROUND COLOR */
:root:not(:-moz-window-inactive) #TabsToolbar {
    background: #0c0c0d !important;
}

/* TABS */

/* REMOVE SPACE BEFORE TABS */
.titlebar-spacer[type='pre-tabs'] {
  display: none !important;
  width: 0px !important;
  max-width: 0px !important;
  border-right: 0 !important;
}

/* BOLD ACTIVE TAB TEXT */
#TabsToolbar .tabbrowser-tab[selected] {
    color: white !important;
    font-weight: bold !important;
}

/* ACTIVE TAB TOP LINE */
.tab-line[selected=true] {
  background-color: #2b2a33 !important;
}

/* ACTIVE TAB BACKGROUND COLOR */
:root .tab-background[selected="true"] {
    background-color: #2b2a33 !important;
    background-image: none !important;
}

/* INACTIVE TAB HOVER */
.tab-background:not([selected=true]),
.tab-line:not([selected=true]) {
    background-color: #3232324 !important;
}

/* INACTIVE TAB TOP LINE */
.tab-line:not([selected=true]) {
  background-color: #252526 !important
}

/* TAB SEPARATOR REMOVED */
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
}

/* neighbouring tabs should "pinch" together / Also fixes 1px boarder on far left tab*/
.tabbrowser-tab {
  padding-inline: 0 !important;
}

/* 1PX BORDER ON FIRST TAB - LEFT */
.titlebar-spacer {
    border-right: none !important;
}

/* Remove 1px Spacer Before First Tab */


/* NO TAB OVERFLOW */
.tabbrowser-tab {
  min-width: 1em !important;
  clip-width: 1em !important;
}

/* INACTIVE TAB 1PX LINE */
#nav-bar {
   box-shadow: none !important;
}

/* REMOVE PADDING ABOVE TABBAR */
#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: initial !important;
} 


/* URL */
/* MOVE URL TEXT INPUT */
#urlbar-input {
    margin-left: 5px !important;
}

/* REMOVE IDENTITY BOX SPACER */
#urlbar[pageproxystate="valid"] > #identity-box.extensionPage {
  border-image-slice: 0 !important;
}

#identity-box {
  border-image-slice: 0 !important;
}

/* REMOVE Icons on Left of URL Bar */
#urlbar-input-container[pageproxystate="valid"] :is(#identity-box:not(.chromeUI), #tracking-protection-icon-container) { display: none; }

/* Remove Magnifying Glass Icon */
#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] {
  margin-inline-start: -35px;
  opacity: 0;
}

/* HIDE DROPMAKER BUTTON IN URL BAR */
#pageActionButton {
    display: none !important;
}

.urlbar-history-dropmarker {
    display: none !important;
}

#pageActionSeparator {
    display: none !important;
}

#reader-mode-button {
    transform: translateX(0px) !important;
}

/* hide urlbars go button */
#urlbar-container :-moz-any(.urlbar-go-button, #urlbar-go-button){
  visibility: collapse !important;
}

/* URL SUGGESTIONS MINIMUM HEIGHT */
panel#PopupAutoCompleteRichResult .autocomplete-richlistitem {
     min-height: 20px !important;
}

/* URL AUTOCOMPLETE POPUP COLOR */
.autocomplete-richlistitem[selected=true],
.searchbar-treebody::-moz-tree-row(selected) {
  background-color: #252526 !important
}
.autocomplete-history-popup,
panel[type=autocomplete-richlistbox],
panel[type=autocomplete] {
  color: #fff !important;
  background: #323234 !important;
  border-bottom: none !important;
  border-top: none !important;
  border-left: #323234 !important;
  border-right: #323234 !important;
}
.searchbar-treebody::-moz-tree-row(hover),
popupset#mainPopupSet panel#PopupAutoCompleteRichResult .autocomplete-richlistitem:hover,
treechildren.searchbar-treebody::-moz-tree-row(hover) {
  background-color: #252526 !important
}

/* HOVER INDICATOR COLOR */
.toolbarbutton-1{
   --toolbarbutton-hover-background: #252526 !important; 
   --toolbarbutton-active-background: #252526 !important;
}

/* MOVE HAMBURGER MENU AND GAIN SPACE BEFORE TABS TOOLBAR */
/* #main-window[uidensity=compact][tabsintitlebar] #toolbar-menubar[autohide="true"][inactive="true"] ~ #TabsToolbar{
  -moz-padding-start: 0px !important;
}

#main-window[uidensity=compact][tabsintitlebar][sizemode="maximized"] #toolbar-menubar[autohide="true"][inactive="true"] ~ #TabsToolbar{
  -moz-padding-start: 0px !important;
}

#main-window[tabsintitlebar] #toolbar-menubar[autohide="true"][inactive="true"] ~ #nav-bar  #PanelUI-button {
  -moz-appearance: none !important;
  -moz-box-ordinal-group: 0 !important;
  position: fixed !important;
  height: 22px !important;
  margin: 0 !important;
  -moz-margin-start: -1px !important;
  border: unset !important;
  box-shadow: unset !important;
  padding-left: 3px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive="true"] ~ #nav-bar  #PanelUI-button {
  top: 1px !important;
}

#main-window[tabsintitlebar][sizemode="maximized"] #toolbar-menubar[autohide="true"][inactive="true"] ~ #nav-bar  #PanelUI-button {
  top: 8px !important;
} 

#main-window[tabsintitlebar][inFullscreen] #toolbar-menubar[autohide="true"][inactive="true"] ~ #nav-bar  #PanelUI-button {
  top: 0px !important;
} */

/* MOVE HAMBURGER (PANEL-UI) TO TOP LEFT*/
/* #PanelUI-button {
  -moz-box-ordinal-group: 0;
  border-left: none !important;
  position: absolute;
}

:root[uidensity=compact] #PanelUI-button {
  margin-top: 0px;
  margin-left: 5px;
}

#PanelUI-button {
  margin-top: -30px;
} */

/* HIDE BUTTON IN FULLSCREEN MODE, IF TOOLABRS GET AUTOMATICALLY HIDDEN */
#main-window[tabsintitlebar] #navigator-toolbox[inFullscreen="true"][style*="margin-top: -"] #toolbar-menubar[autohide="true"][inactive="true"] ~ #nav-bar  #PanelUI-button {
  visibility: collapse !important;
}
 
/* MENU */

/* Compact padding */
menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

/* MOVE POPUP ARROW AND POSITION */
/* #appMenu-popup { /* Hamburger menu Left 
        margin-right: -255px !important;
		margin-top: -2px !important;
    } 

    /*#appMenu-popup .panel-arrow {
        margin-right: 246px !important;
    } */
#appMenu-popup { /*Hamburger Menu Right */
        margin-right: -13px !important;
		margin-top: -1px !important;
    }
	
/* remove arrow from panel popup */
.panel-arrowbox {
  visibility: collapse !important;
}

.panel-arrow{
  display:none !important;
}

/* Makes context (right click) navigation buttons appears as normal textual menuitems */

#context-navigation{ -moz-box-orient: vertical; flex-direction: column !important; }
#context-navigation > menuitem > .menu-iconic-left{ display: none }
#context-navigation > menuitem{
  padding-block: 0.3em;
  padding-inline-start: 1em;
  -moz-box-pack: start !important;
  width: auto !important;
}
#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]){ background-color: var(--menuitem-hover-background-color) !important; }
#context-navigation > menuitem::before{ content: attr(aria-label) }
#context-bookmarkpage { 
    display: none !important 
}

/* Remove back/forward/reload/bookmark from right click */
#context-navigation, #context-sep-navigation { 
    display: none !important 
}
	
/* MINIMIZE WHITE FLASH */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
  background: #323234 !important
}

#tabbrowser-tabpanels{
  background-color: #323234 !important;
}

/* MOVE POPUP URL IN CORNER*/
#statuspanel #statuspanel-label {
    -moz-appearance: none !important;
    background-color: #1f1f1f !important;
    font-weight: thin !important;
    color: dodgerblue !important;
    border: 0px solid #1f1f1f !important;
}

#statuspanel {
    /*background-color: transparent !important;*/
    border: none !important;
    bottom: 0px !important;
    height: 0px !important;
    max-width: 45% !important;
    transition: none !important;
}

statuspanel #statuspanel-inner {
    background: transparent !important;
    border: none !important;
    height: 20px !important;
}

statuspanel #statuspanel-label {
    background-color: transparent !important;
    border: none !important;
}

/* MEGABAR */
/* disable ugly location bar expanding */
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: unset !important;
  width: calc(100% + 0 * 5px + 0 * 2px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: unset !important;
  animation-name: unset !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: unset !important;
  padding-inline: unset !important;
}

/* disable result item roundness */
#urlbar[breakout] .urlbarView-row-inner {
  border-radius: 0px !important;
}

/* disable 'breakout' animation */
#urlbar[breakout] {
  animation: unset !important;
  duration: unset !important;
}

/* remove 'border' between urlbar and results */
.urlbarView-body-inner {
  border-top: 0px !important;
}

/* disable useless space wasting inside popup */
#urlbar[breakout][breakout-extend] > .urlbarView {
  padding: unset !important;
  margin: unset !important;
}

#urlbar[breakout] .urlbarView {
  margin-inline: unset !important;
  width: 100% !important;
}

/* disable space wasting inside popup around result items */
#urlbar[breakout] #urlbar-results {
  padding: 0px !important;
  margin: 0px !important;
}
#urlbar[breakout] #urlbar-results .urlbarView-body-outer,
#urlbar[breakout] #urlbar-results .urlbarView-row,
#urlbar[breakout] #urlbar-results .urlbarView-row-inner {
  -moz-margin-start: 0 !important;
  -moz-padding-start: 0 !important;
  -moz-margin-end: 0 !important;
  -moz-padding-end: 0 !important;
}

#urlbar[breakout] #urlbar-results .urlbarView-row-inner {
  -moz-padding-start: 4px !important;
  -moz-padding-end: 4px !important;
}

#urlbar[breakout] .urlbarView-row {
  padding-block: 0px !important;
}

/* disable space wasting inside popup around search engines */
#urlbar[breakout] .search-one-offs {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* MEGABAR BORDER */
#urlbar-background,
#urlbar-container,
.urlbar-input-box {
border: none !important;
}

/* CHANGE TEXT INPUT SELECTION COLOR IN URLBAR */
:-moz-any(#urlbar, #searchbar, .searchbar-textbox) ::-moz-selection {
  background: #5a5a5c !important;
  color: white !important;
}

/*CHANGE HIGHLIGHT TEXT IN DROPDOWN URL*/
.urlbarView-row[selected] .urlbarView-row-inner {
border-radius: 0px !important;
background-color: #5a5a5c !important;
color: white !important;
}

/*--------------            Firefox 91 Proton Tab Fix              --------------------*/
/* ### ###    PhotonUI Sharp Tabs, Non floating    ### ### */
@import "non_floating_sharp_tabs.css";

/* DISABLE URL BORDER FATNESS */
    
#nav-bar{ --toolbar-field-focus-border-color: transparent}


/* This gets rid of the shadow, prevents the expansion of the URL bar*/

#urlbar:focus-within > #urlbar-background {
    box-shadow: none !important;
    border-color: -moz-accent-color !important;
    border-width: 1px !important;
}

#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}

/* Source file https://teddit.net/r/FirefoxCSS/comments/oiycgx/restore_tab_separator_lines/h4yuli3/#c */

/* Bring back tab separator lines that were removed in Proton */

.tabbrowser-tab:not(:hover, [beforehovered], [selected], [last-visible-tab], [beforeselected-visible])::after {
  content: "";
  display: block;
  border-left: 1px solid currentColor;
  margin-block: 1px;
  margin-left: -1px;
  opacity: 0.3;
}

/* No round shapes */

* {
  border-radius: 0 !important;
 }
 
/* Reduce space around tabs */
:root { --tab-block-margin: 2px 0 !important; }

/* Reduce Navigation Button Spacing */
#back-button,
#forward-button,
#stop-reload-button{ --toolbarbutton-inner-padding: 3px }